.container {
    margin-bottom: 40px;
}

.cards {
    height: 260px;
}

#msgC {
    margin: 0;
    padding: 10;
    height: 300px;
}

#subButton {
    width: 100%;
}

#msgC > p {
    margin-bottom: 0;
}

.card > p {
    margin-bottom: 0;
    margin-top: 0;
}

#turnMsg,
#welcomeMsg {
    margin-bottom: 10px;
}

.p1-choices,
.p2-choices {
    display: block;
}



